@{
    ViewData["Title"] = "Connect to Database";
}

@model WebDB.Models.DbConnectionModel

<div class="d-flex justify-content-center align-items-center" style="height:80vh;">

    <div class="card shadow-lg p-4" style="width:400px; border-radius:15px;">

        <h3 class="text-center mb-4">Connect to Database</h3>

        <form method="post">

            <div class="mb-3">
                <input asp-for="Host" class="form-control" placeholder="Host" />
            </div>

            <div class="mb-3">
                <input asp-for="Database" class="form-control" placeholder="Database" />
            </div>

            <div class="mb-3">
                <input asp-for="User" class="form-control" placeholder="User" />
            </div>

            <div class="mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            </div>

            



            <button class="btn btn-primary w-100">Connect</button>

        </form>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger mt-3">@ViewBag.Error</div>
        }

    </div>

</div>

